*.pdf
*.xls
*.xlsx
*.csv
*.pdf
*.env
*.zip
*.joblib
venv/
.venv/
*__pycache__*
__pycache__/
.DS_Store
.vscode/
.ipynb_checkpoints/
*.ipynb_checkpoints/*
cdk.context.json
.cdk.staging/
cdk.out/
*.egg-info
*.egg
deployment/pipeline/assets/inference-imagebuild/*.py
deployment/pipeline/assets/training-imagebuild/*.py
deployment/pipeline/assets/processing-imagebuild/*.py
test.py
